<div class="activities">
  <div class="activities__header">
    <h2>Recent Activities</h2>
  </div>
  <div class="activities__container">
    {% for message in room_messages %}
      <div class="activities__box">
        <div class="activities__boxHeader">
          <div class="activities__boxAvatar">
            <div class="avatar avatar--small">
              <img src="{{ message.user.avatar.url }}" alt="{{ message.user.username }}" /></div>
          </div><p>
            <a href="{% url 'user-profile' message.user.id %}">
              <span>@{{message.user.username}}</span>
            </a>
            replied to
            <a href="{% url 'room' message.room.id %}">
              <span>"{{message.room}}"</span>
            </a>
          </p>
        </div>
        <div class="activities__boxContent">
          {{message.body}}
        </div>
        <div class="activities__boxTime">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor">
            <circle cx="12" cy="12" r="10"></circle>
            <polyline points="12 6 12 12 16 14"></polyline>
          </svg>
          {{message.created|timesince}} ago
        </div>
      </div>
    {% endfor %}
  </div>
</div>