<div class="live-users">
  <div class="live-users__header">
    <h2>Live Users</h2>
    <span class="live-users__online">{{ users|length }} Online</span>
  </div>
  <div class="live-users__container">
    {% for user in users %}
      <div class="live-users__bubble" style="--delay: {{ forloop.counter0 }};">
        <a href="{% url 'user-profile' user.id %}">
          <div class="avatar avatar--small active">
            <img src="{{ user.avatar.url }}" alt="{{ user.username }}" />
          </div>
          <div class="live-users__info">
            <span>@{{ user.username }}</span>
          </div>
        </a>
      </div>
    {% empty %}
      <p style="color: var(--color-light-gray);">No users online</p>
    {% endfor %}
  </div>
</div> 