{% extends 'main.html' %}

{% block content %}

<main class="auth layout">

  {% if page == 'login' %}

  <div class="auth__container">
    <div class="auth__box">
      <div class="auth__header">
        <div class="layout__boxTitle">
          <h3>{% if page == 'login' %}Welcome Back{% else %}Join Our Community{% endif %}</h3>
        </div>
      </div>
      <div class="auth__body">
        <div class="auth__form">
          <form method="POST" action="">
            {% csrf_token %}
            <div class="form__group auth__field">
              <label for="email">Email</label>
              <input type="email" name="email" placeholder="e.g. user@domain.com" />
            </div>
            <div class="form__group auth__field">
              <label for="password">Password</label>
              <input type="password" name="password" placeholder="&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;" />
            </div>
            <button class="auth__button" type="submit">
              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                <title>lock</title>
                <path d="M27 12h-1v-2c0-5.514-4.486-10-10-10s-10 4.486-10 10v2h-1c-0.553 0-1 0.447-1 1v18c0 0.553 0.447 1 1 1h22c0.553 0 1-0.447 1-1v-18c0-0.553-0.447-1-1-1zM8 10c0-4.411 3.589-8 8-8s8 3.589 8 8v2h-16v-2zm19 20h-20v-16h20v16z"></path>
              </svg>
              Login
            </button>
          </form>

          <div class="auth__action">
            <p>Haven't signed up yet?</p>
            <a href="{% url 'register' %}" class="auth__link">Sign Up</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% else %}

  <div class="auth__container">
    <div class="auth__box">
      <div class="auth__header">
        <div class="layout__boxTitle">
          <h3>{% if page == 'login' %}Welcome Back{% else %}Join Our Community{% endif %}</h3>
        </div>
      </div>
      <div class="auth__body">
        <div class="auth__form">
          <form method="POST" action="">
            {% csrf_token %}

            {% for field in form %}
            <div class="form__group auth__field">
              <label for="{{field.id_for_label}}">{{field.label}}</label>
              {{field}}
            </div>
            {% endfor %}

            <button class="auth__button" type="submit">
              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                <title>lock</title>
                <path d="M27 12h-1v-2c0-5.514-4.486-10-10-10s-10 4.486-10 10v2h-1c-0.553 0-1 0.447-1 1v18c0 0.553 0.447 1 1 1h22c0.553 0 1-0.447 1-1v-18c0-0.553-0.447-1-1-1zM8 10c0-4.411 3.589-8 8-8s8 3.589 8 8v2h-16v-2zm19 20h-20v-16h20v16z"></path>
              </svg>
              Register
            </button>
          </form>

          <div class="auth__action">
            <p>Already have an account?</p>
            <a href="{% url 'login' %}" class="auth__link">Sign In</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% endif %}

</main>

{% endblock content %} 