<div class="topics">
  <div class="topics__header">
    <h2>Browse Topics</h2>
    <a href="{% url 'topics' %}">More</a>
  </div>
  <ul class="topics__list">
    <li>
      <a href="{% url 'home' %}" class="{% if not topic %}active{% endif %}">All <span>{{topics.count}}</span></a>
    </li>
    {% for topic in topics %}
    <li>
      <a href="{% url 'home' %}?q={{topic.name}}" class="{% if topic.name == topic.name %}active{% endif %}">{{ topic.name }} 
        <span>{{topic.room_set.all.count}}</span>
      </a>
    </li>
    {% endfor %}
  </ul>
</div>