{% extends 'main.html' %}

{% block content %}

<main class="auth layout">

<div class="container">
  <div class="layout__box">
    <div class="layout__boxHeader">
      <div class="layout__boxTitle">
        <h3>Video Room</h3>
      </div>
    </div>
    <div class="layout__body">
      <h2 class="auth__tagline">Video Room Dashboard</h2>
      <h1>Welcome, {{user.username}}!</h1>
      <a href="{% url 'meeting' %}" class="btn btn--main btn--pill">New Room</a>
      <!-- <a href="{% url 'join_room' %}" class="btn btn--main btn--pill">Join Meeting</a> -->
      <a href="{% url 'logout' %}" class="btn btn--main btn--pill">Logout</a>
    </div>
  </div>
</div>

{% endblock content %} 